<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css.map">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css.map">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="stylesheet.css">
  <script src="https://unpkg.com/vue"></script>


  <title>Todo</title>
</head>

<body>
  <html>
<body>
  <section class="hero">
    <div class="hero-body">
      <div class="container" style="text-align:center; font-size:3rem;"
        <h1 class="title">
          To-do
        </h1>
        <img src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/check_alt-128.png" alt="todo" style="height:2rem;">
      </div>
    </div>
  </section>
  <div id="app">
    <nav class="nav has-shadow">
      <div class="container">
        <label for="menu-toggle" class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <input type="checkbox" id="menu-toggle" class="is-hidden"/>
        <div class="nav-right nav-menu">
          <a href="http://localhost:8080/client/index.html" class="">
            <span class="icon"><i class="fa fa-home"></i></span> Home
          </a>
          <a class="nav-item is-tab is-hidden-tablet">
            <span class="icon"><i class="fa fa-table"></i></span> Links
          </a>
          <a  v-if="user" href="http://localhost:8080/client/index.html" @click="logOut">
            <span class="icon" ><i class="fa fa-info"></i></span> Logout
          </a>
          <a v-else href="http://localhost:8080/client/signin.html">
            <span class="icon" ><i class="fa fa-info"></i></span> Login
          </a>



          <a class="nav-item is-tab is-active">
            <span class="icon"><i class="fa fa-user"></i></span>
          </a>
          <a class="nav-item is-tab">
            <span class="icon"><i class="fa fa-sign-out"></i></span>
          </a>
        </div>
      </div>
    </nav>
    <!-- menu bar -->
    <section class="main-content columns is-fullheight">
      <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
        <p class="menu-label is-hidden-touch">Navigation</p>
        <ul class="menu-list">
          <li>
            <a href="http://localhost:8080/client/index.html" class="">
              <span class="icon"><i class="fa fa-home"></i></span> Home
            </a>
          </li>
          <li v-if="user">
            <a href="http://localhost:8080/client/index.html" @click="logOut">
              <span class="icon" ><i class="fa fa-info"></i></span> Logout
            </a>
          </li>
          <li v-else>
            <a href="http://localhost:8080/client/signin.html">
              <span class="icon" ><i class="fa fa-info"></i></span> Login
            </a>
          </li>
        </ul>
      </aside>

      <!-- content -->
      <div class="container column is-10">

        <div class="section">
          <section class="hero is-info welcome is-small">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Hello, {{ user }}
                </h1>
                <h2 class="subtitle">
                  I hope you are having a great day!
                </h2>
                <div class="level-center">
                  <p class="level-item"><strong>Today's Weather || {{ location }}</strong></p>
                  <p class="level-item"><a>{{ temp }} Fahrenheit</a></p>
                </div>
              </div>
            </div>
          </section>

          <form v-on:submit.prevent="createNewTodo">
            <div class="control">
              <textarea class="textarea is-info" v-model="task" placeholder="What Are You Doing Today?"></textarea>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-primary" v-model="tag" type="text" placeholder="Tag">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <input type="submit" class="button is-link" :disabled="taskIsEmpty" value="Add a To-Do">
              </div>
            </div>
          </form>

             <div class="card">
                <todo-lists @user-emit="getTaskId"  :todos="todos"/>
            </div>


        </div>
      </div>

    </section>


  </div>
  <script src="js/list-task.js" charset="utf-8"></script>
  <script type="text/javascript">

  new Vue ({
    el: '#app',
    data : {
      task : '',
      user: '',
      userId : '',
      location: '',
      temp : '',
      tag: '',
      todos : ''
    },
    created : function () {
      axios.get(`https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22jakarta%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys`)
      .then(response => {
        let channel = response.data.query.results.channel
        this.location = channel.location.city
        this.temp = channel.item.condition.temp
      })
      .catch(err => {
        console.log(err);
      })
      let username = localStorage.getItem("username")
      let userId = localStorage.getItem('userId')
       axios.get(`http://localhost:3000/api/todo/${userId}`)
       .then(response => {
           this.user = username
           this.userId  = userId
           this.todos = response.data
       })
       .catch(err => {
         console.log(err);
       })
    },
    computed : {
      taskIsEmpty : function () {
        return this.task.length  === 0
      }
    },
    methods : {
      createNewTodo : function () {
        this.todos.push({
          userId : this.userId,
          tag : this.tag,
          task : this.task,
          isComplete : false
        })
        let token = localStorage.getItem('token')
        if (token === null) {
            document.location = 'http://localhost:8080/client/signin.html'
        }
        axios.post('http://localhost:3000/api/todo', {
          userId : this.userId,
          tag : this.tag,
          task : this.task,
          isComplete : false
        })
        .then(response => {
            console.log(response);
            this.cleanTextArea()
        })
        .catch(err => {
          console.log(err);
        })
      },
      logOut : function () {
        localStorage.removeItem('token')
        localStorage.removeItem('userId')
        localStorage.removeItem('username')
      },
      cleanTextArea : function () {
        this.task = '',
        this.tag = ''
      },
      getTaskId : function (payload) {

        this.todos.forEach((item, index )=> {
          if (item._id == payload.taskId) {
            this.todos.splice(index, 1)
          }
        })
        console.log(payload.taskId);
      }
    }
  })
  </script>
</body>

</html>


</body>
</html>
